/*
 * Author: Victoria Swank
 * Date: 02/15/25
 * File Name: styles.css
 */

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3 {
 margin: 0;
 padding: 0;
 border: 0;
}

/* Style rules for body and images */
body {
 background-color: #8FA3A4;
}

img {
 max-width: 100%;
 display: block;
}

/* Style rules for navigation area */
nav {
 width: 70%
}

nav ul{
 float: right;
 list-style-type: none;
 margin: 0
}

nav li {
 text-align: center;
 display: inline-block;
 font-size: 1.5em;
 font-family: Geneva, Tahoma, sans-serif
}

nav li a {
 background-color: #4f4f4f;
 font-weight: bold;
 display: block; 
 color: #C7C7C7;
 text-align: center;
 padding: 0.5em 1em;
 text-decoration: none;
}

/* Style rules for header area */
h1{
 display: block; 
 color: #000000;
 text-align: center;
 padding: 0 1em;
 text-decoration: none;
 font-family: Geneva, Tahoma, sans-serif
}

h3{
 display: block; 
 color: #000000;
 text-align: center;
 padding: 1em;
 text-decoration: none;
 font-family: Geneva, Tahoma, sans-serif
}

/* Style rules for main content */
main {
 clear: center;
 padding: 2%;
 font-size: 1.15em;
 font-family: Geneva, Tahoma, sans-serif
}

main p {
 padding-top: 5%;
}
main li {
 float: left;
 margin: 5em 3em 0 0;
 list-style-type: none;
 padding-bottom: 10%; 
}

#contact {
 padding-left: 7%;
}

/* Style rules for footer content */ 
footer {
 text-align: center;
 font-size: 0.85em;
 background-color: #8FA3A4
}
footer a {
 color: #C7C7C7;
 text-align: center;
 padding-top: 1%;
 padding-bottom: 1%;
 padding-left: 0%;
 padding-right: 0%;
 text-decoration: none;
 font-family: Geneva, Tahoma, sans-serif
}